<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | HT-Lights</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lightbloom&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header>
        <h1 class="demo"><span style="color: blue;">HT-Lights</span> Conocimientos sobre <span style="color: orange;">Web</span></h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <div class="about-content">
        <p><em>Hola, esta página se creó con el propósito de aprender de manera breve sobre HTML, el cual es el lenguaje que, con la ayuda de un archivo de formato HTML, permite crear una base de página en esqueleto para una más formalizada. En pocas palabras, esta demo de página emplea pasos simples desde la elaboración de un control mínimo hasta uno real más completo y así hasta superarse.</em></p>
        <p><em>Espero que logres familiarizarte, ¡hasta pronto!</em></p>
    </div>

    <footer>
        <p>&copy; 2024 Todos los derechos reservados para HT-light.com</p>
    </footer>
</body>
</html>
